<?xml version="1.0" ?>

<!--
 * @author      Andreas Knollmann
 * @copyright   2014-2025 Softwareentwicklung Andreas Knollmann
 * @license     http://www.opensource.org/licenses/mit-license.php MIT
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="infrangible_catalogfilteroffcanvas" sortOrder="1160" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
            <label>Catalog Filter Off Canvas</label>
            <tab>infrangible</tab>
            <resource>Infrangible_CatalogFilterOffCanvas::config_infrangible_catalogfilteroffcanvas</resource>
            <group id="general" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
                <label>General</label>
                <field id="direction" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Direction</label>
                    <source_model>Infrangible\CatalogFilterOffCanvas\Model\Config\Source\Direction</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
